extends layout

block headimport
	link(href="/css/reset.css", rel="stylesheet")
	link(href="/css/site.css", rel="stylesheet")
	link(href="/css/container.css", rel="stylesheet")
	link(href="/css/grid.css", rel="stylesheet")

block content
	.ui.four.column.grid.container
		.column.
			1234
		.column.
			2345
		.column.
			3456
		.column.
			4567
	#guideMenu
	script#initial-state(type="application/json").
		[
			{"key": "home", "name": "首页", "href": "/", "active": true},
			{"key": "bookRepo", "name": "书库列表", "href": "/bookRepo"},
			{"key": "myInfo", "name": "我的信息", "href": "/my/info"},
			{"key": "mySecurity", "name": "我的安全", "href": "/my/security"},
			{"key": "mybookRepo", "name": "我的书库", "href": "/my/bookRepo"}
		]
	script(src="/js/vendor.js")
	script(src="/js/GuideMenuRef.js")